<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Products Admin' }) %>
    <%- include('../partials/scripts') %>

        <body>
            <%- include('../partials/header') %>

                <%- include('../partials/banner') %>

                <main class="admin__container">
                    <%- include('../partials/navUsers') %>
                    <section class="admin__section--container">
                      <h3 class="admin__title">Filtrar Productos por:</h3>
                      <div class="admin__filters-container">
                        <div class="admin__filters">
                          <label for="brandFilter"></label>
                          <select class="brand-filter" id="brandFilter">
                            <option value="">Marcas</option>
                            <option value="Apple">Apple</option>
                            <option value="Huawei">Huawei</option>
                            <option value="LG">LG</option>
                            <option value="Motorola">Motorola</option>
                            <option value="Samsung">Samsung</option>
                            <option value="Xiaomi">Xiaomi</option>
                            <option value="Otras">otras</option>
                          </select>
                        </div>
                        <div class="admin__filters">
                          <label for="categoryFilter"></label>
                          <select class="category-filter" id="categoryFilter">
                            <option value="">Categorías</option>
                            <option value="Phones">Phones</option>
                            <option value="Accessories">Accessories</option>
                          </select>
                        </div>
                        <div class="admin__filters">
                          <label for="subcategoryFilter"></label>
                          <select class="subcategory-filter" id="subcategoryFilter">
                            <option value="">Subcategorías</option>
                            <option value="1">News</option>
                            <option value="2">Refubrishes</option>
                          </select>
                        </div>
                      </div>                                                    
                      <div class="col-12">
                        <a href="/products/create"><button type="button" class="admin___btn--add">Agregar producto</button></a>
                      </div>
                      <div class="scroll-navigation">
                        <button class="scroll-button scroll-left">
                          <i class="fas fa-chevron-left"></i>
                        </button>
                        <div class="scroll-content">
                          <table>
                            <thead>
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Subcategoría</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Descuento</th>
                                <th scope="col">Ver</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Borrar</th>
                              </tr>
                            </thead>
                            <tbody id="productTable">
                              <% products.forEach((product, index) => { %>
                              <tr class="product-row <%= index % 2 == 0 ? 'even' : 'odd' %>">
                                <td><%- product.id%></td>
                                <td><%- product.name%></td>
                                <td class="product-brand"><%- product.brands.name%></td>
                                <td class="product-subcategory"><%- product.subcategories.name%></td>
                                <td class="product-category">
                                  <% const categoryID = product.subcategories.categoriesID %>
                                  <% if (categoryID === 1) { %>
                                    Celular
                                  <% } else if (categoryID === 2) { %>
                                    Accesorio
                                  <% } else { %>
                                    <%= categoryID %>
                                  <% } %>
                                </td>
                                <td>$<%= formatNumber(product.price) %></td>
                                <td><%- product.discount%>%</td>
                                <td><a href="/products/<%= product.id%> "><i class="fa-regular fa-eye"></i></a></td>
                                <td><a href="/products/edit/<%= product.id%> "><i class="fa-regular fa-pen-to-square"></i></a></td>
                                <form action="/products/edit/delete/<%= product.id %>?_method=DELETE" method="POST">
                                  <td><button type="submit" style="border: none; background: none;"><i class="fa-regular fa-trash-can"></i></td>
                                </form>
                              </tr>
                              <% }); %>
                            </tbody>
                          </table>
                          </div>
                          <button class="scroll-button scroll-right">
                            <i class="fas fa-chevron-right"></i>
                          </button>
                        </div>                        
                      </section>
                    </main>
            <%- include('../partials/footer.ejs') %>
            <script src="/js/admin.js"></script>
        </body>
</html>