<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Editando: ' + product.name }) %>

    <body class="productCreate">
        <%- include('../partials/header.ejs') %>
            <!-- <div class="productCreate"> -->
            <div class="register__container--global register__first">
                <h2 class="register__title">Modificación de productos</h2>
                <hr>
                <form action="/products/edit/<%= product.id  %>?_method=PUT" method="post" id="form" class="productForm__container"
                    enctype="multipart/form-data">
                    <div class="container__desktop">
                        <div class="box__datos input__container--boxImage">
                            <div class="input__container form__input--specification">
                                <label class="label-style" for="name">Nombre del producto</label>
                                <input class="input-style" value="<%= product.name%>" type="text" name="name"
                                    placeholder="Ej: Samsung Galaxy M13" id="name">
                                    <small class="text__danger--form" id="nameErrors">
                                        <%= locals.errors && errors.name ? errors.name.msg : '' %>
                                    </small>
                                </div>
                            <div class="input__container form__input--specification">
                                <label class="label-style" for="discount">Descuento</label>
                                <input class="input-style" type="text" value="<%= product.discount %>" name="discount" placeholder="Ej: 15" id="discount">
                                <small class="text__danger--form" id="discountErrors">
                                    <%= locals.errors && errors.discount ? errors.discount.msg : '' %>
                                </small>
                            </div>
                        </div>
                        <div class="box__profile input__container--boxImage">
                            <div class="input__container form__input--specification">
                                <label class="label-style" for="price">Precio</label>
                                <input class="input-style" value="<%= product.price%>" name="price" placeholder="Ej:1500" id="price">
                                    <small class="text__danger--form" id="priceErrors"><%= locals.errors && errors.price ? errors.price.msg : '' %></small>
                            </div>
                            <div class="input__container form__input--specification input__photo">
                                <label class="label-style form__product--textImage" for="image">Elija su foto del producto</label>
                                <input class="input form__product--inputImage" value="<%= product.image %>" type="file" name="image" id="">
                                <% if (locals.errors && errors.image) { %>
                                    <small class="text__danger--form" id="imageErrors"><%= errors.image.msg %> </small>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="input__container">
                        <label class="label-style" for="category">Categoría</label>
                        <select name="category" id="category" class="input-style select-category">
                            <option hidden selected>Selecciona una opción</option>
                            <option value="1" <%= product.subcategories && product.subcategories.categoriesID === 1 && "selected" %>>Celulares</option>
                            <option value="2" <%= product.subcategories && product.subcategories.categoriesID === 2 && "selected" %>>Accesorios</option>
                        </select>
                        <small id="categoryErrors" class="text__danger--form"><%= locals.errors && errors.category ? errors.category.msg : '' %></small>
                    </div>

                    <div class="input__container">
                        <label class="label-style" for="subCategory">Subcategoría</label>
                        <select name="subCategory" id="subCategory" class="input-style select-category">
                            <option hidden selected>Selecciona una opción</option>
                            <option value="1" <%= product.subcategoryID === 1 && "selected" %>>Celular Nuevo</option>
                            <option value="2" <%= product.subcategoryID === 2 && "selected" %>>Celular Refabricado</option>
                            <option value="3" <%= product.subcategoryID === 3 && "selected" %>>Accesorio Nuevo</option>
                        </select>
                        <small id="subCategoryErrors" class="text__danger--form"></small>
                    </div>
                    <div class="input__container">
                        <label class="label-style" for="brand">Marca</label>
                        <select name="brand" id="brand" class="input-style select-category">
                            <option hidden selected>Selecciona una opción</option>
                            <option value="1" <%= product.brandID === 1 && "selected" %>>Samsung</option>
                            <option value="2" <%= product.brandID === 2 && "selected" %>>Motorola</option>
                            <option value="3" <%= product.brandID === 3 && "selected" %>>Xiaomi</option>
                            <option value="4" <%= product.brandID === 4 && "selected" %>>Apple</option>
                            <option value="5" <%= product.brandID === 5 && "selected" %>>Huawei</option>
                            <option value="6" <%= product.brandID === 6 && "selected" %>>LG</option>
                            <option value="7" <%= product.brandID === 7 && "selected" %>>Otra</option>
                        </select>
                        <small id="brandErrors" class="text__danger--form"></small>
                    </div>

                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="model">Modelo</label>
                                <input class="input-style" value="<%= product.model %>" type="text" name="model" placeholder="Ej: S20 FE 5G"
                                    id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="os">Sistema operativo</label>
                                <input class="input-style" value="<%= product.os %>" type="text" name="os" placeholder="Ej: Android" id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="screen">Pantalla</label>
                                <input class="input-style" value="<%= product.screen %>" type="text" name="screen" placeholder="Ej: 6.5" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="internalMemory">Memoria interna</label>
                                <input class="input-style" value="<%= product.internalMemory %>" type="text" name="internalMemory"
                                    placeholder="Ej: 128" id="">
                            </div>
                        </div>

                    </div>
                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="ram">Ram</label>
                                <input class="input-style" value="<%= product.ram %>" type="text" name="ram" placeholder="Ej: 6" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="chipset">Procesador </label>
                                <input class="input-style" value="<%= product.chipset %>" type="text" name="chipset"
                                    placeholder=" Ej: Snapdragon 865" id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="frontCamera">Cámara Frontal Principal</label>
                                <input class="input-style" value="<%= product.frontCamera %>" type="text" name="frontCamera"
                                    placeholder="Ej: 32" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="mainCamera">Cámara Trasera Principal</label>
                                <input class="input-style" value="<%= product.mainCamera %>" type="text" name="mainCamera" placeholder="Ej: 12"
                                    id="">
                            </div>
                        </div>

                    </div>
                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="video">Video</label>
                                <input class="input-style" value="<%= product.video %>" type="text" name="video" placeholder="Ej: 3840 x 2160"
                                    id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="battery">Batería </label>
                                <input class="input-style" value="<%= product.battery %>" type="text" name="battery" placeholder="Ej: 4500"
                                    id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="dimensions">Dimensiones</label>
                                <input class="input-style" value="<%= product.dimensions %>" type="text" name="dimensions"
                                    placeholder="Ej: 159.8 x 74.5 x 8.4 " id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="weight">Peso</label>
                                <input class="input-style" value="<%= product.weight %>" type="text" name="weight" placeholder="Ej: 190" id="">
                            </div>
                        </div>


                    </div>
                    <div class="input__container  ">
                        <label class="label-style" for="cardSlot">Expandible</label>
                        <input class="input-style" type="text" name="cardSlot" placeholder="Ej: 1 gb " id="">
                    </div>
                    <div class="input__container textarea__container--global">
                        <label for="description">Otras descripciones del producto:</label>
                        <div class="textarea__container">
                            <textarea class="input-style textarea__descripction" name="description" id="description" cols="30"
                                rows="10"><%= product.description %></textarea>
                                    <small class="text__danger--form" id="descriptionErrors"><%= locals.errors && errors.description ? errors.description.msg : '' %></small>
                        </div>
                    </div>
                    <small id="submitErrors" class="text__danger--form"></small>
                    <button class="form__button-blue btn btn__submit" type="submit">
                        <div class="button__container btn btn__submit">
                            Modificar producto
                        </div>
                    </button>
                </form>
                <form action="/products/edit/delete/<%= product.id %>?_method=DELETE" method="POST" class="productForm__container">
                    <button class="form__button-blue btn btn__submit" type="submit">
                        <div class="button__container btn btn__submit">
                            Eliminar producto
                        </div>
                    </button>
                </form>
            </div>
            <!-- </div> -->
            <%- include('../partials/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
            <script src="/js/product.js"></script>
            <script src="http://momentjs.com/downloads/moment.min.js"></script>
    </body>

</html>