<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Crear un producto' }) %>

    <body class="productCreate">
        <!-- Include Header -->
        <%- include('../partials/header.ejs') %>

            <div class="register__container--global register__first">
                <h2 class="register__title">Creación de productos</h2>
                <hr>
                <form action="/products/create" method="POST" class="productForm__container" enctype="multipart/form-data">
                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="name">Nombre del producto</label>
                                <input class="input-style" type="text" name="name" placeholder="Ej: Samsung Galaxy M13" id="">
                                <% if (locals.errors && errors.name) { %>
                                    <small class="text-danger"><%= errors.name.msg %> </small>
                                <% } %>
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="discount">Descuento</label>
                                <input class="input-style" type="text" name="discount" placeholder="Ej: 15" id="">
                                <% if (locals.errors && errors.discount) { %>
                                    <small class="text-danger"><%= errors.discount.msg %> </small>
                                <% } %>
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="price">Precio</label>
                                <input class="input-style" type="text" name="price" placeholder="Ej:1500" id="">
                                <% if (locals.errors && errors.price) { %>
                                    <small class="text-danger"><%= errors.price.msg %> </small>
                                <% } %>
                            </div>
                            <div class="input__container input__photo">
                                <label class="label-style" for="image">Elija la imagen del producto</label>
                                <input class="input" type="file" name="image" id="image">
                                <% if (locals.errors && errors.image) { %>
                                    <small class="text-danger"><%= errors.image.msg %> </small>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="input__container">
                        <label class="label-style" for="category">Categoría</label>
                        <select name="category" id="" class="input-style select-category">
                            <option hidden selected>Selecciona una opción</option>
                            <option value="1">Celulares</option>
                            <option value="2">Accesorios</option>
                        </select>
                        <% if (locals.errors && errors.category) { %>
                            <small class="text-danger"><%= errors.category.msg %> </small>
                        <% } %>
                    </div>
                    <div class="input__container">
                        <label class="label-style" for="subCategory">Subcategoría</label>
                        <select name="subCategory" id="" class="input-style select-category">
                            <option hidden selected>Selecciona una opción</option>
                            <option value="1">Nuevo</option>
                            <option value="2">Refabricado</option>
                        </select>
                        <% if (locals.errors && errors.subCategory) { %>
                            <small class="text-danger"><%= errors.subCategory.msg %> </small>
                        <% } %>
                    </div>
                    <div class="input__container">
                        <label class="label-style" for="brand">Marca</label>
                        <select name="brand" id="" class="input-style select-category">
                            <option hidden selected>Selecciona una opción</option>
                            <option value="1">Samsung</option>
                            <option value="2">Motorola</option>
                            <option value="3">Xiaomi</option>
                            <option value="4">Apple</option>
                            <option value="5">Huawei</option>
                            <option value="6">LG</option>
                            <option value="7">Otra</option>
                        </select>
                        <% if (locals.errors && errors.brand) { %>
                            <small class="text-danger"><%= errors.brand.msg %> </small>
                        <% } %>
                    </div>

                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="model">Modelo</label>
                                <input class="input-style" type="text" name="model" placeholder="Ej: S20 FE 5G" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="os">Sistema operativo</label>
                                <input class="input-style" type="text" name="os" placeholder="Ej: Android" id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="screen">Pantalla</label>
                                <input class="input-style" type="text" name="screen" placeholder="Ej: 6.5" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="internalMemory">Memoria interna</label>
                                <input class="input-style" type="text" name="internalMemory" placeholder="Ej: 128" id="">
                            </div>
                        </div>

                    </div>
                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="ram">Ram</label>
                                <input class="input-style" type="text" name="ram" placeholder="Ej: 6" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="chipset">Procesador </label>
                                <input class="input-style" type="text" name="chipset" placeholder=" Ej: Snapdragon 865" id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="frontCamera">Cámara Frontal Principal</label>
                                <input class="input-style" type="text" name="frontCamera" placeholder="Ej: 32" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="mainCamera">Cámara Trasera Principal</label>
                                <input class="input-style" type="text" name="mainCamera" placeholder="Ej: 12" id="">
                            </div>
                        </div>

                    </div>
                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="video">Video</label>
                                <input class="input-style" type="text" name="video" placeholder="Ej: 4K@30" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="battery">Batería </label>
                                <input class="input-style" type="text" name="battery" placeholder="Ej: 4500" id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="dimensions">Dimensiones</label>
                                <input class="input-style" type="text" name="dimensions" placeholder="Ej: 159.8 x 74.5 x 8.4" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="weight">Peso</label>
                                <input class="input-style" type="text" name="weight" placeholder="Ej: 190" id="">
                            </div>
                        </div>

                    </div>
                    <div class="input__container  ">
                        <label class="label-style" for="cardSlot">Expandible</label>
                        <input class="input-style" type="text" name="cardSlot" placeholder="Ej: 1" id="">
                    </div>

                    <div class="input__container textarea__container--global">
                        <label for="">Otras descripciones del producto:</label>
                        <div class="textarea__container">
                            <textarea class="input-style textarea__descripction" name="description" id="" cols="30" rows="10"></textarea>
                            <% if (locals.errors && errors.description) { %>
                                <small class="text-danger"><%= errors.description.msg %> </small>
                            <% } %>
                        </div>
                    </div>
                    <button class="form__button-blue btn btn__submit" type="submit">
                        <div class="button__container btn btn__submit">
                            Crear producto
                        </div>
                    </button>

                </form>
            </div>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>