<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Nuestros Productos' }) %>
    <%- include('../partials/scripts') %>
        </head>

        <body>
            <%- include('../partials/header') %>

                <%- include('../partials/banner') %>

                    <div class="back">
                        <ul>
                            <li><a class="detail__a" href="/">Volver al listado <i class="fa-solid fa-chevron-right"></i></a></li>
                            <li>Todos los productos</li>
                        </ul>
                    </div>
                    <% if (typeof session.user !=='undefined' ) { %>
                        <% if (session.user.role==="admin" ) { %>
                            <div class="create__btn">
                                <a class="create__btn--redirect" href="/products/create">Crear Producto</a>
                            </div>
                            <% } %>
                                <% } %>
                                    <section class="home__phones--container--global">
                                        
                                        <%- include('../partials/cardProducts') %>
                                        
                                    </section>


                                    <%- include('../partials/footer.ejs') %>
        </body>

</html>