<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body class="productCreate">
        <%- include('../partials/header.ejs') %>
            <!-- <div class="productCreate"> -->
            <div class="register__container--global register__first">
                <h2 class="register__title">Modificación de productos</h2>
                <hr>
                <form action="/products/edit/<%= productToEdit.id  %>?_method=PUT" method="post" class="productForm__container" enctype="multipart/form-data">
                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="name">Nombre del producto</label>
                                <input class="input-style" value=" <%= productToEdit.name%>" type="text" name="name" placeholder="Ej: Samsung Galaxy M13" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="discount">Descuento</label>
                                <input class="input-style" type="text" value="<%= productToEdit.discount %>" name="discount" placeholder="Ej: 15" id="discount">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="price">Precio</label>
                                <input class="input-style" value="<%= productToEdit.price%>" name="price" placeholder="Ej:$1500" id="">
                            </div>
                            <div class="input__container input__photo">
                                <label class="label-style" for="image">Elija su foto del producto</label>
                                <input class="input" value="<%= productToEdit.image %>" type="file" name="image" id="">
                            </div>
                        </div>
                    </div>

                    <div class="input__container">
                        <label class="label-style" for="category">Categoría</label>
                        <select name="category" id="" class="input-style select-category">
                            <option hidden selected>Selecciona una opción</option>
                            <option value="new" <%= productToEdit.category === "new" && "selected" %>>Nuevo</option>
                            <option value="refubrished" <%= productToEdit.category === "refubrished" && "selected" %> >Refabricado</option>
                        </select>
                    </div>
                    <div class="input__container">
                        <label class="label-style" for="brand">Marca</label>
                        <select name="brand" id="" class="input-style select-category">
                            <option hidden selected>Selecciona una opción</option>
                            <option value="Samsung" <%= productToEdit.brand=== "Samsung" && "selected" %>>Samsung</option>
                            <option value="Motorola" <%= productToEdit.brand === "Motorola" && "selected" %>>Motorola</option>
                            <option value="Xiaomi" <%= productToEdit.brand === "Xiaomi" && "selected" %>>Xiaomi</option>
                            <option value="Apple" <%= productToEdit.brand === "Apple" && "selected" %>>Apple</option>
                            <option value="Huawei" <%= productToEdit.brand === "Huawei" && "selected" %>>Huawei</option>
                            <option value="LG" <%= productToEdit.brand=== "LG" && "selected" %>>LG</option>
                        </select>
                    </div>

                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="model">Modelo</label>
                                <input class="input-style" value="<%= productToEdit.model %>" type="text" name="model" placeholder="Ej: S20 FE 5G" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="os">Sistema operativo</label>
                                <input class="input-style" value="<%= productToEdit.os %>" type="text" name="os" placeholder="Ej: Android" id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="screen">Pantalla</label>
                                <input class="input-style" value="<%= productToEdit.screen %>" type="text" name="screen" placeholder="Ej: 6.5 " id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="interal_memory">Memoria interna</label>
                                <input class="input-style" value="<%= productToEdit.interal_memory %>" type="text" name="interal_memory" placeholder="Ej: 128 GB" id="">
                            </div>
                        </div>

                    </div>
                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="ram">Ram</label>
                                <input class="input-style" value="<%= productToEdit.ram %>" type="text" name="ram" placeholder="Ej: 6 GB" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="chipset">Procesador </label>
                                <input class="input-style" value="<%= productToEdit.chipset %>" type="text" name="chipset" placeholder=" Ej: Snapdragon 865" id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="frontCamera">Cámara Frontal Principal</label>
                                <input class="input-style" value="<%= productToEdit.frontCamera %>" type="text" name="frontCamera" placeholder="Ej: 32 Mpx" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="mainCamera">Cámara Trasera Principal</label>
                                <input class="input-style" value="<%= productToEdit.mainCamera %>" type="text" name="mainCamera" placeholder="Ej: 12 Mpx" id="">
                            </div>
                        </div>

                    </div>
                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="video">Video</label>
                                <input class="input-style" value="<%= productToEdit.video %>" type="text" name="video" placeholder="Ej: 3840 px x 2160 px" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="battery">Batería </label>
                                <input class="input-style" value="<%= productToEdit.battery %>" type="text" name="battery" placeholder="Ej: 4500 mAh" id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="dimensions">Dimensiones</label>
                                <input class="input-style" value="<%= productToEdit.dimensions %>" type="text" name="dimensions" placeholder="Ej: 159.8 mm x 74.5 mm x 8.4 mm" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="weight">Peso</label>
                                <input class="input-style" value="<%= productToEdit.weight %>" type="text" name="weight" placeholder="Ej: 190 g" id="">
                            </div>
                        </div>
                        

                    </div>
                        <div class="input__container  ">
                            <label class="label-style" for="cardSlot">Expandible</label>
                            <input class="input-style" type="text" name="cardSlot" placeholder="Ej: 1 TB" id="">
                        </div>
                    <div class="input__container textarea__container--global">
                        <label for="descripciones">Otras descripciones del producto:</label>
                        <div class="textarea__container">
                            <textarea class="input-style textarea__descripction" name="description" id="" cols="30" rows="10"><%= productToEdit.description %></textarea>
                        </div>
                    </div>
                    <button class="form__button-blue btn btn__submit" type="submit">
                        <div class="button__container btn btn__submit">
                            Modificar producto
                        </div>
                    </button>
                    <button class="form__button-blue">
                        <div class="button__container">
                            <a href="/products/create" class="button__container btn btn__submit"> Crear producto </a>
                        </div>
                    </button>


                </form>
            </div>
            <!-- </div> -->
            <%- include('../partials/footer.ejs') %>
    </body>

</html>