<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Crear un producto' }) %>

    <body class="productCreate">
        <!-- Include Header -->
        <%- include('../partials/header.ejs') %>

            <div class="register__container--global register__first">
                <h2 class="register__title">Creación de productos</h2>
                <hr>
                <form action="/products/create" id="form" method="POST" class="productForm__container" enctype="multipart/form-data">
                    <div class="container__desktop">
                        <div class="box__datos input__container--boxImage">
                            <div class="input__container form__input--specification">
                                <label class="label-style" for="name">Nombre del producto</label>
                                <input class="input-style" type="text" name="name" id="name" placeholder="Ej: Samsung Galaxy M13">
                                <small class="text__danger--form" id="nameErrors">
                                    <%= locals.errors && errors.name ? errors.name.msg : '' %>
                                </small>
                            </div>
                            <div class="input__container form__input--specification">
                                <label class="label-style" for="discount">Descuento</label>
                                <input class="input-style" type="text" name="discount" placeholder="Ej: 15" id="discount">
                                <small class="text__danger--form" id="discountErrors">
                                    <%= locals.errors && errors.discount ? errors.discount.msg : '' %>
                                </small>
                            </div>
                        </div>
                        <div class="box__profile input__container--boxImage">
                            <div class="input__container form__input--specification">
                                <label class="label-style" for="price">Precio</label>
                                <input class="input-style" type="text" name="price" placeholder="Ej:1500" id="price">
                                <small class="text__danger--form" id="priceErrors">
                                    <%= locals.errors && errors.price ? errors.price.msg : '' %>
                                </small>
                                <small id="priceErrors" class="text__danger--form"></small>
                            </div>
                            <div class="input__container input__photo form__input--specification">
                                <label class="label-style form__product--textImage" for="image">Elija la imagen del producto</label>
                                <input class="input form__product--inputImage" type="file" name="image" id="image">
                            </div>
                            <small class="text__danger--form" id="imageErrors">
                                <%= locals.errors && errors.image ? errors.image.msg : '' %>
                            </small>
                            <small id="imageErrors" class="text__danger--form"></small>
                        </div>
                    </div>
                    <div class="input__container">
                        <label class="label-style" for="category">Categoría</label>
                        <select class="input-style select-category" name="category" id="category">
                            <option hidden value="">Selecciona una opción</option>
                            <% categories.forEach(category=> { %>
                                <% if (category.id===1) { %>
                                    <option value="<%= category.id %>">Celular</option>
                                    <% } else if (category.id===2) { %>
                                        <option value="<%= category.id %>">Accesorio</option>
                                        <% } %>
                                            <% }); %>
                        </select>
                        <small id="categoryErrors" class="text__danger--form">
                            <%= locals.errors && errors.category ? errors.category.msg : '' %>
                        </small>
                    </div>
                    <div class="input__container">
                        <label class="label-style" for="subCategory">Subcategoría</label>
                        <select name="subCategory" id="subCategory" class="input-style select-category">
                            <option hidden value="">Selecciona una opción</option>
                            <% subcategories.forEach(subCategory=> { %>
                                <% if (subCategory.id===1) { %>
                                    <option value="<%= subCategory.id %>">Celular Nuevo</option>
                                    <% } else if (subCategory.id===2) { %>
                                        <option value="<%= subCategory.id %>">Celular Refabricado</option>
                                        <% } else { %>
                                            <option value="<%= subCategory.id %>">Accesorio Nuevo</option> %>
                                            <% } %>
                                                <% }); %>
                        </select>
                        <small id="subCategoryErrors" class="text__danger--form">
                            <%= locals.errors && errors.subCategory ? errors.subCategory.msg : '' %>
                        </small>
                        </div>
                        <div class="input__container">
                            <label class="label-style" for="brand">Marca</label>
                            <select name="brand" id="brand" class="input-style select-category">
                                <option hidden value="">Selecciona una opción</option>
                                <% brands.forEach(brand=> { %>
                                    <option value="<%= brand.id %>">
                                        <%= brand.name %>
                                    </option>
                                    <% }); %>
                            </select>
                            <small id="brandErrors" class="text__danger--form">
                                <%= locals.errors && errors.brand ? errors.brand.msg : '' %>
                            </small>
                            </select>
                        </div>

                        <div class="input__container textarea__container--global">
                            <label for="">Descripción:</label>
                            <div class="textarea__container">
                                <textarea class="input-style textarea__descripction" name="description" id="description" cols="30"
                                    rows="10"></textarea>
                            </div>
                            <small id="brandErrors" class="text__danger--form">
                                <%= locals.errors && errors.description ? errors.description.msg : '' %>
                            </small>
                        </div>

                        <div class="container__desktop">
                            <div class="box__datos">
                                <div class="input__container">
                                    <label class="label-style" for="model">Modelo</label>
                                    <input class="input-style" type="text" name="model" placeholder="Ej: S20 FE 5G" id="">
                                </div>
                                <div class="input__container">
                                    <label class="label-style" for="os">Sistema operativo</label>
                                    <input class="input-style" type="text" name="os" placeholder="Ej: Android" id="">
                                </div>
                            </div>
                            <div class="box__profile">
                                <div class="input__container">
                                    <label class="label-style" for="screen">Pantalla</label>
                                    <input class="input-style" type="text" name="screen" placeholder="Ej: 6.5" id="">
                                </div>
                                <div class="input__container">
                                    <label class="label-style" for="internalMemory">Memoria interna</label>
                                    <input class="input-style" type="text" name="internalMemory" placeholder="Ej: 128" id="">
                                </div>
                            </div>

                        </div>
                        <div class="container__desktop">
                            <div class="box__datos">
                                <div class="input__container">
                                    <label class="label-style" for="ram">Ram</label>
                                    <input class="input-style" type="text" name="ram" placeholder="Ej: 6" id="">
                                </div>
                                <div class="input__container">
                                    <label class="label-style" for="chipset">Procesador </label>
                                    <input class="input-style" type="text" name="chipset" placeholder=" Ej: Snapdragon 865" id="">
                                </div>
                            </div>
                            <div class="box__profile">
                                <div class="input__container">
                                    <label class="label-style" for="frontCamera">Cámara Frontal Principal</label>
                                    <input class="input-style" type="text" name="frontCamera" placeholder="Ej: 32" id="">
                                </div>
                                <div class="input__container">
                                    <label class="label-style" for="mainCamera">Cámara Trasera Principal</label>
                                    <input class="input-style" type="text" name="mainCamera" placeholder="Ej: 12" id="">
                                </div>
                            </div>

                        </div>
                        <div class="container__desktop">
                            <div class="box__datos">
                                <div class="input__container">
                                    <label class="label-style" for="video">Video</label>
                                    <input class="input-style" type="text" name="video" placeholder="Ej: 4K@30" id="">
                                </div>
                                <div class="input__container">
                                    <label class="label-style" for="battery">Batería </label>
                                    <input class="input-style" type="text" name="battery" placeholder="Ej: 4500" id="">
                                </div>
                            </div>
                            <div class="box__profile">
                                <div class="input__container">
                                    <label class="label-style" for="dimensions">Dimensiones</label>
                                    <input class="input-style" type="text" name="dimensions" placeholder="Ej: 159.8 x 74.5 x 8.4" id="">
                                </div>
                                <div class="input__container">
                                    <label class="label-style" for="weight">Peso</label>
                                    <input class="input-style" type="text" name="weight" placeholder="Ej: 190" id="">
                                </div>
                            </div>

                        </div>
                        <div class="input__container  ">
                            <label class="label-style" for="cardSlot">Expandible</label>
                            <input class="input-style" type="text" name="cardSlot" placeholder="Ej: 1" id="">
                        </div>

                        

                        <small id="submitErrors" class="text__danger--form"></small>
                        <button class="form__button-blue btn btn__submit" type="submit">
                            <div class="button__container btn btn__submit">
                                Crear producto
                            </div>
                        </button>

                </form>
            </div>
            <%- include('../partials/footer.ejs') %>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
                <script src="/js/product.js"></script>
                <script src="http://momentjs.com/downloads/moment.min.js"></script>
    </body>

</html>