<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Editando: ' + userInSession.name }) %>

    <body class="productCreate">
        <%- include('../partials/header.ejs') %>
            <div class="register__container--global register__first">
                <h2 class="register__title">Modificación de perfil</h2>
                <hr>
                <form action="/products/edit/?_method=PUT" method="post" class="productForm__container"
                    enctype="multipart/form-data">
                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="name">Nombre</label>
                                <input class="input-style" value="<%= userInSession.name%>" type="text" name="name" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="lastName">Apellido</label>
                                <input class="input-style" type="text" value="<%= userInSession.lastName %>" name="lastName" placeholder="" id="lastName">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="tel">Teléfono</label>
                                <input class="input-style" value="<%= userInSession.tel%>" name="tel" placeholder="" id="">
                            </div>
                            <div class="input__container input__photo">
                                <label class="label-style" for="avatar">Elija su foto de perfil</label>
                                <input class="input" value="<%= userInSession.avatar %>" type="file" name="avatar" id="">
                            </div>
                        </div>
                    </div>

                    <div class="container__desktop">
                        <div class="box__datos">
                            <div class="input__container">
                                <label class="label-style" for="address">Dirección</label>
                                <input class="input-style" value="<%= userInSession.address %>" type="text" name="address" placeholder=""
                                    id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="postal_code">Código Postal</label>
                                <input class="input-style" value="<%= userInSession.postal_code %>" type="text" name="postal_code" placeholder="" id="">
                            </div>
                        </div>
                        <div class="box__profile">
                            <div class="input__container">
                                <label class="label-style" for="province">Provincia</label>
                                <input class="input-style" value="<%= userInSession.province %>" type="text" name="province" placeholder="" id="">
                            </div>
                            <div class="input__container">
                                <label class="label-style" for="city">Ciudad</label>
                                <input class="input-style" value="<%= userInSession.city %>" type="text" name="city"
                                    placeholder="" id="">
                            </div>
                        </div>

                    </div>

                    <button class="form__button-blue btn btn__submit" type="submit">
                        <div class="button__container btn btn__submit">
                            Modificar perfil
                        </div>
                    </button>
                </form>
                <!-- <form action="/products/edit/delete/<%= userInSession.id %>?_method=DELETE" method="POST" class="productForm__container">
                    <button class="form__button-blue btn btn__submit" type="submit">
                        <div class="button__container btn btn__submit">
                            Cerrar sesión
                        </div>
                    </button>
                </form> -->
            </div>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>