<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Mi Perfil' }) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main class="profile__main--container">
                <div class="profile__nav--container">
                    <nav class="profile__nav">
                        <ul class="profile__container--sections">
                            <li class="profile__container--sections"><a href="/products"><i class="fa-solid fa-bag-shopping"></a></i>
                                <span><a href="/products">Compras</a></span>
                            </li>
                            <% if ( session.user.role==="admin" ) { %>
                                <li class="profile__container--sections"><a href="/products"><i class="fa-solid fa-tags"></a></i>
                                    <span><a href="/products">Productos</a></span>
                                </li>
                                <% } %>
                                    <% if ( session.user.role==="admin" ) { %>
                                        <li class="profile__container--sections"><a href="/users/profile"><i class="fa-solid fa-user-group"></a></i>
                                            <span><a href="/users/profile">Usuarios</a></span>
                                        </li>
                                        <% } %>
                                            <li class="profile__container--sections"><a href="/users/profile/edit"><i
                                                        class="fa-solid fa-gear"></a></i> <span><a href="/users/profile/edit">Ajustes</a></span></li>
                        </ul>
                    </nav>
                </div>
                <section class="profile__section--container">
                    <h2 class="profile__main--title">Mis Datos</h2>
                    <div class="profile__avatar">
                        <img class="profile_img" src="/images/users/<%= user.avatar %>" alt="img-profile">
                    </div>
                    <article class="profile__account--data">
                        <div class="profile__title">
                            <h3>Datos de cuenta</h3>
                        </div>
                        <div class="profile__edit--button--account">
                            <a href="/users/profile/edit" class="profile___btn--edit--account">Modificar datos de cuenta</a>
                        </div>
                    </article>
                    <article class="profile__info--container">
                        <div class="profile___">
                            <div class="profile__info--btn" role="button">
                                <div class="profile--info">
                                    <span class="profile__span">Usuario</span>
                                </div>
                                <div class="profile--info">
                                    <span class="profile__span--data">
                                        <%= user.username %>
                                    </span>
                                </div>
                            </div>
                            <div class="profile__info--btn" role="button">
                                <div class="profile--info">
                                    <span class="profile__span">E-mail</span>
                                </div>
                                <div class="profile--info">
                                    <span class="profile__span--data">
                                        <% if (user.email.length> 20) { %>
                                            <%- `${user.email.slice(0, 20)}...` %>
                                                <% } else { %>
                                                    <%= user.email %>
                                                        <% } %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="profile__account--data">
                        <div class="profile__title">
                            <h3>Datos Personales</h3>
                        </div>
                        <div class="profile__edit--button--account">
                            <a href="/users/profile/edit" class="profile___btn--edit--account">Modificar datos personales</a>
                        </div>
                    </article>
                    <article class="profile__info--container">
                        <div class="profile___">
                            <div class="profile__info--btn" role="button">
                                <div class="profile--info">
                                    <span class="profile__span">Nombre</span>
                                </div>
                                <div class="profile--info">
                                    <span class="profile__span--data">
                                        <%= user.name %>
                                    </span>
                                </div>
                            </div>
                            <div class="profile__info--btn" role="button">
                                <div class="profile--info">
                                    <span class="profile__span">Apellido</span>
                                </div>
                                <div class="profile--info">
                                    <span class="profile__span--data">
                                        <%= user.lastName %>
                                    </span>
                                </div>
                            </div>
                            <div class="profile__info--btn" role="button">
                                <div class="profile--info">
                                    <span class="profile__span">Teléfono</span>
                                </div>
                                <div class="profile--info">
                                    <span class="profile__span--data">
                                        <%= user.phone ? user.phone : "---------------" %>
                                    </span>
                                </div>
                            </div>
                            <div class="profile__info--btn" role="button">
                                <div class="profile--info">
                                    <span class="profile__span">Dirección</span>
                                </div>
                                <div class="profile--info">
                                    <span class="profile__span--data">
                                        <%= user && user.address ? user.address.address : "---------------" %>
                                    </span>
                                </div>
                            </div>
                            <div class="profile__info--btn" role="button">
                                <div class="profile--info">
                                    <span class="profile__span">Código Postal</span>
                                </div>
                                <div class="profile--info">
                                    <span class="profile__span--data">
                                        <%= user && user.address ? user.address.postal_code : "---------------" %>
                                    </span>
                                </div>
                            </div>
                            <div class="profile__info--btn" role="button">
                                <div class="profile--info">
                                    <span class="profile__span">Provincia</span>
                                </div>
                                <div class="profile--info">
                                    <span class="profile__span--data">
                                        <%=  user && user.address ? user.address.province : "---------------" %>
                                    </span>
                                </div>
                            </div>
                            <div class="profile__info--btn" role="button">
                                <div class="profile--info">
                                    <span class="profile__span">Ciudad</span>
                                </div>
                                <div class="profile--info">
                                    <span class="profile__span--data">
                                        <%=  user && user.address ? user.address.city : "---------------" %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </main>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>